@charset "UTF-8";

#title{
	font-size:30px;
	color: maroon;
}

.txt_c{
	text-align: center;
	}
	
a:link{
	text-decoration:none; 
	color:navy;
	}
	
a:visited{
	text-decoration:none;
	color:navy;
	}
	
a:hover{
	text-decoration:none;
	color:red;
}